*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(120deg,#f6d365 0%, #fda085 100%);
}

.list_items{
    min-width: 20%;
    list-style: none;
}

form{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    cursor:pointer;
    width:30px;
}

form button:hover, .complete_btn:hover, .del_btn:hover{
    background-color:rgb(255, 136, 0);
    color:white;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete_btn{
    margin-left:0.1rem;
    background-color: rgb(8, 248, 8);
    cursor: pointer;
    width:25px;
}

.del_btn{
    margin-left:0.2rem;
    background-color:rgb(247, 75, 7);
    cursor:pointer;
    width:25px;
}

.div{
    background-color: white;
    margin:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.div li{
    flex: 1;
}

.fa-check, .fa-trash{
    pointer-events: none;
}
